.main-wrapper {
    width: 45em;
}

.viewport {
    overflow: hidden;
    margin: 1em 0;
}

.content-wrapper {
    display: inline-block;
}

.scrollbar {
    background: lightgray;
    height: 20px;
}

.handler {
    background: grey;
    height: 100%;
    width: 0;
}
